<!-- http://www.jquery2dotnet.com/ -->

<div class="col-xs-12 col-md-6">
	<div class="well well-sm" id="ratings">
		<div class="row">
			<div class="col-xs-12 col-md-6 text-center">
				<h1 class="rating-num">{[{ businessInfo.rating }]}</h1>
				<div class="rating">
					<span ng-repeat="n in [] | range:5" ng-class="n + 1 > businessInfo.rating ? n + ' glyphicon glyphicon-star-empty' : n + ' glyphicon glyphicon-star'">
					</span>
				</div>
				<div>
					<span class="glyphicon glyphicon-user"></span>{[{
					businessInfo.data.total_rating.total_no_of_reviews }]} total
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="row rating-desc">
					<div ng-repeat="r in businessInfo.ratings | orderBy:'-rating'">
						<div class="col-xs-3 col-md-3 text-right">
							<span class="glyphicon glyphicon-star"></span>{[{r.rating}]}
						</div>
						<div class="col-xs-8 col-md-9">
							<div class="progress progress-striped">
								<div ng-class="'progress-bar progress-bar-' + r.class" role="progressbar"
									aria-valuenow="{[{r.percent > 7.5 ? r.percent : 7.5}]}" aria-valuemin="0" aria-valuemax="100"
									style="width: {[{r.percent > 7.5 ? r.percent : 7.5}]}%">
									<span class="sr-only">{[{r.percent}]}%</span>
								</div>
							</div>
						</div>
						<!-- end -->
					</div>
					<!--  end ng-repeat -->
				</div>
				<!-- end row -->
			</div>
		</div>
		<div style="width: 100%; clear: both;"></div>
	</div>
	<div style="width:100%; margin-bottom: 15px;"></div>
</div>
